{{template "base" . }}

{{define "content"}}
    <div class="container">
        <div class="row">
            <hr class="col-md-12">
                <h1>User Profile</h1>
                <hr>
                <hr>
            </div>
        </div>
    </div>
{{ end }}